ion-icon {
  margin-right: 10px;
}

img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 10px auto;
    display: block;
    border-radius: 50%;
}

ion-button{
    margin: 10px auto;
    display: block;
    width: 350px;
    color: #FFF;
}

.cerrar_sesion {
  --background: #ff3131;
}