ion-icon {
  margin-right: 10px;
}

img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    margin: 10px auto;
    display: block;
    border-radius: 25px;
}

ion-button{
    margin: 10px auto;
    display: block;
    width: 350px;
}