.crear {
    width: 350px;
    border-radius: 25px;
    background: linear-gradient(to right, #cdffd8, #539d96);
    padding: 10px;
    margin: 10px auto;
    box-shadow: 5px 5px #CCC;
}

ion-button{
    display: block;
    margin: 10px auto;
    width: 250px;
}

.crear img {
    display: block;
    margin: 0 auto;
    width: 250px;
    height: 200px;
    border-radius: 25px;
}

.citascompletadas {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 25px;
  width: 350px;
  height: 200px;
  background: linear-gradient(to right, #cdffd8, #94b9ff);
  margin: 10px auto;
  padding: 0 10px;
  box-sizing: border-box;
  box-shadow: 5px 5px #CCC;
}

h2{
  text-align: center;
  margin: 10px;
}

.contenido-cita{
  padding: 10px 0;
  color: #000;
}

.imagen-container {
  overflow: hidden;
  flex-shrink: 0;
}

.imagen {
  width: 150px;
  height: 150px;
  object-fit: cover;
  display: block;
  border-radius: 25px;
}

.mensaje {
  text-align: center;
  background-color: red;
  width: 350px;
  display: block;
  margin: auto;
  border-radius: 25px;
  padding: 10px;
  color: #fff;
  box-shadow: 5px 5px #CCC;
}