div {
    width: 350px;
    border-radius: 25px;
    background: linear-gradient(to right, #cdffd8, #539d96);
    padding: 10px;
    margin: 10px auto;
}

ion-button{
    display: block;
    margin: 10px auto;
    width: 250px;
}

img {
    display: block;
    margin: 0 auto;
    width: 250px;
    height: 200px;
    border-radius: 25px;
}