.mismascotas {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 25px;
  width: 350px;
  height: 200px;
  background: linear-gradient(to right, #3bb04f, #1ae6bb);
  margin: 10px auto;
  padding: 0 10px;
  box-sizing: border-box;
}

.imagen-container {
  overflow: hidden;
  flex-shrink: 0;
}

.imagen {
  width: 150px;
  height: 150px;
  object-fit: cover;
  display: block;
  border-radius: 25px;
}

.contenido-mascota {
  padding: 10px 0;
  color: #000;
}

ion-button {
  display: block;
  margin: 10px auto;
  width: 300px;
  color: #fff;
}

p {
  margin: 10px;
}
