<ion-header>
  <ion-toolbar>
    <ion-title>Mis Mascotas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button shape="round" routerLink="/subirmascotas">Subir Mascota</ion-button>
  <div *ngIf="mascotas.length === 0" class="mensaje">
    <p>¡Aún no tienes mascotas registradas!</p>
    <p>Presiona el botón "Subir Mascota" para agregar la primera.</p>
  </div>

  <div *ngIf="mascotas.length > 0">
    <div *ngFor="let mascota of mascotas">
      <div class="vermascotas">
        <div class="mismascotas">
          <div class="imagen-container">
            <img alt="Imagen de la mascota " class="imagen" [src]="'http://127.0.0.1:8000/images/' + mascota.imagen">
          </div>
          <div class="contenido-mascota">
            <p><strong>Nombre: </strong> {{mascota.nombre}}</p>
            <p><strong>Especie: </strong> {{mascota.especie}}</p>
            <p> <strong>Raza: </strong>{{mascota.raza}}</p>
            <p><strong>Edad: </strong> {{mascota.edad}}</p>
          </div>
        </div>
        <div class="botones">
          <ion-button shape="round" [routerLink]="['/editarmascota', mascota.id]" class="editar">Editar
            Mascota</ion-button>
          <ion-button shape="round" class="cancelar" (click)="confirmarEliminacion(mascota.id)">Eliminar
            Mascota</ion-button>
        </div>
      </div>
    </div>
  </div>
</ion-content>