<ion-header>
  <ion-toolbar>
    <ion-title>Subir tus mascotas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="crearMascota()">
     <label>Foto Mascota</label>
    <input type="file" (change)="onFileChange($event)" />
    <div *ngIf="imagenPreview" class="ion-margin-top">
      <p style="text-align: center;">Previsualización:</p>
      <img [src]="imagenPreview" alt="Previsualización de la imagen"
        style="width: 250px; height: 250px; object-fit: cover; border: none; border-radius: 25px; display: block; margin: auto;" />
    </div>
    <label>Nombre:</label>
    <input
      type="text"
      placeholder="Nombre"
      [(ngModel)]="mascota.nombre"
      name="nombre"
      required
    />

    <label>Especie:</label>
    <input
      type="text"
      placeholder="Especie"
      [(ngModel)]="mascota.especie"
      name="especie"
    />

    <label>Raza:</label>
    <input
      type="text"
      placeholder="Raza"
      [(ngModel)]="mascota.raza"
      name="raza"
    />

    <label>Edad (En años):</label>
    <input
      type="number"
      [(ngModel)]="mascota.edad"
      name="edad"
      placeholder="Edad"
    />

    <ion-button shape="round" type="submit">
      <ion-icon slot="start" name="person-add" size="large"></ion-icon
      >Subir Mascota</ion-button
    >
  </form>
</ion-content>
