<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="../../assets/logo.jpg" alt="Logo de la empresa" />
  <label>Inicia sesión para poder agendar tus citas </label>
  <label>Correo:</label>
  <input
    type="text"
    [(ngModel)]="user.email"
    labelPlacement="floating"
    label="Correo"
    placeholder="ejemplo@gmail.com"
    autocomplete="email"
  />
  <label>Contraseña:</label>
  <input
    type="password"
    [(ngModel)]="user.password"
    labelPlacement="floating"
    label="Contraseña"
    placeholder="Contraseña"
  />

  <ion-button shape="round" (click)="login()">
    <ion-icon name="log-in"></ion-icon>Iniciar Sesión</ion-button
  >

  <label>Sino tienes una cuenta con nosotros regístrate</label>

  <ion-button routerLink="/registro" shape="round" color="primary">
    <ion-icon slot="start" name="person-add"></ion-icon
    >Registrarse</ion-button
  >
</ion-content>
