<ion-header>
  <ion-toolbar>
    <ion-title> Inicio </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2>¡Bienvenido a Pet Care SV!</h2>
  <p>
    Somos tu veterinaria y peluquería salvadoreña de confianza. Nacimos con el propósito de ofrecer a tus mejores amigos
    peludos una atención integral y de calidad, combinando la salud con el bienestar en un solo lugar. Confía en
    nosotros para cuidar de tu mascota como si fuera nuestra.
  </p>

  <h2>Citas Pendientes </h2>
  <div *ngIf="citaspendientes.length === 0" class="mensaje">
    <p>¡No tienes citas pendientes!</p>
  </div>
  <div *ngIf="citaspendientes.length > 0">
    <div *ngFor="let citaspendiente of citaspendientes">
      <div class="citas">
        <div class="citaspendientes">
          <div class="imagen-container">
            <img alt="Imagen de la mascota " class="imagen"
              [src]="'http://127.0.0.1:8000/images/' + citaspendiente.mascota.imagen" />
          </div>
          <div class="contenido-cita">
            <p><strong>Fecha: </strong> {{citaspendiente.fecha}}</p>
            <p><strong>Hora: </strong> {{citaspendiente.hora}}</p>
            <p> <strong>Mascota: </strong>{{citaspendiente.mascota.nombre}}</p>
            <p><strong>Motivo: </strong> {{citaspendiente.servicio.nombre}}</p>
            <p><strong>Estado: </strong>{{citaspendiente.estado.nombre}}</p>
          </div>
        </div>
        <div class="botones">
          <ion-button shape="round" class="editar" [routerLink]="['/editarcita', citaspendiente.id]">Editar</ion-button>
          <ion-button shape="round" class="cancelar"
            (click)="confirmarCancelacion(citaspendiente.id)">Cancelar</ion-button>
        </div>
      </div>
    </div>
  </div>

  <h2>Nuestros Servicios para tu Mascota</h2>
  <p style="text-align: center;">Los servicios que ofrecemos son los siguientes:</p>

  <div *ngFor="let servicio of servicios">
    <div class="servicios">
      <div class="imagen-container">
        <img alt="Imagen del servicio" [src]="'http://127.0.0.1:8000/servicios/' + servicio.imagen" class="imagen" />
      </div>
      <div class="contenido-servicio">
        <p><strong>{{servicio.nombre}}</strong></p>
        <p>{{servicio.descripcion}}</p>
        <p *ngIf="servicio.precio"><strong>Precio: </strong> {{servicio.precio}}</p>

        <p *ngIf="!servicio.precio"><strong>Precio: </strong> A Consultar</p>
      </div>
    </div>
  </div>
</ion-content>