p {
  margin: 10px 20px;
}

.servicios {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 25px;
  width: 350px;
  height: 200px;
  background: linear-gradient(to right, #3bb04f, #1ae6bb);
  margin: 10px auto;
  box-sizing: border-box;
  padding: 10px;
}

.imagen-container {
  overflow: hidden;
  flex-shrink: 0;
}

.imagen {
  width: 150px;
  height: 150px;
  object-fit: cover;
  display: block;
  border-radius: 25px;
}

.citas {
  border-radius: 25px;
  width: 350px;
  background: linear-gradient(to right, #cdffd8, #94b9ff);
  margin: 10px auto;
  box-sizing: border-box;
  padding: 10px;
}

.citaspendientes {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-sizing: border-box;
}

.botones {
  justify-content: space-between;
  display: flex;
  margin-top: 10px;
}

h2 {
  text-align: center;
  margin: 10px;
}

.contenido-cita {
  color: #000;
}

.editar {
  --background: #3bb04f;
  --color: #fff;
  width: 150px;
}

.cancelar {
  --background: red;
  --color: #fff;
  width: 150px;
}
