p {
  margin: 10px 20px;
}

.servicios {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 25px;
  width: 350px;
  height: 200px;
  background: linear-gradient(to right, #3bb04f, #1ae6bb);
  margin: 10px auto;
  box-sizing: border-box;
  padding: 10px;
}

.imagen-container {
  overflow: hidden;
  flex-shrink: 0;
}

.imagen {
  width: 150px;
  height: 150px;
  object-fit: cover;
  display: block;
  border-radius: 25px;
}

.citas {
  border-radius: 25px;
  width: 350px;
  background: linear-gradient(to right, #cdffd8, #94b9ff);
  margin: 10px auto;
  box-sizing: border-box;
  padding: 10px;
}

.citaspendientes {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-sizing: border-box;
}

.botones {
  justify-content: space-between;
  display: flex;
  margin-top: 10px;
}

h2 {
  text-align: center;
  margin: 10px;
}

.contenido-cita {
  color: #000;
}

.editar {
  --background: #3bb04f;
  --color: #fff;
}

.cancelar {
  --background: red;
  --color: #fff;
}

.loading-container {
  /* Posicionamiento absoluto para que ocupe todo el espacio de ion-content */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  
  /* Flexbox para centrar el contenido (spinner y texto) */
  display: flex;
  flex-direction: column; /* Apila el spinner y el texto */
  justify-content: center; /* Centrado vertical */
  align-items: center; /* Centrado horizontal */
  
  /* Opcional: Asegura que el color de fondo sea el mismo */
  background: var(--ion-background-color, #ffffff); 
  z-index: 10; /* Asegura que el loading esté encima de cualquier cosa */
}