<ion-header>
  <ion-toolbar>
    <ion-title> Inicio </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>
    Somos Pet Care SV, una veterinaria y peluqueria para mascotas salvadoreña
    con el propósito de cuidar a tus mascotas y darte un servicio de calidad.
  </p>

  <h2>Citas Pendientes </h2>
  <div *ngIf="citaspendientes.length === 0" class="mensaje">
    <p>¡Nos tienes citas pendientes!</p>
  </div>
  <div *ngIf="citaspendientes.length > 0">
    <div *ngFor="let citaspendiente of citaspendientes">
      <div class="citas">
        <div class="citaspendientes">
          <div class="imagen-container">
            <img alt="Imagen de la mascota " class="imagen"
              [src]="'http://127.0.0.1:8000/images/' + citaspendiente.mascota.imagen" />
          </div>
          <div class="contenido-cita">
            <p><strong>Fecha: </strong> {{citaspendiente.fecha}}</p>
            <p><strong>Hora: </strong> {{citaspendiente.hora}}</p>
            <p> <strong>Mascota: </strong>{{citaspendiente.mascota.nombre}}</p>
            <p><strong>Motivo: </strong> {{citaspendiente.servicio.nombre}}</p>
          </div>
        </div>
        <div class="botones">
          <ion-button shape="round" class="editar" [routerLink]="['/editarcita', citaspendiente.id]">Editar</ion-button>
          <ion-button shape="round" class="cancelar"
            (click)="confirmarCancelacion(citaspendiente.id)">Cancelar</ion-button>
        </div>
      </div>
    </div>
  </div>



  <p>Los servicios que ofrecemos son los siguientes</p>

  <div *ngFor="let servicio of servicios">
    <div class="servicios">
      <div class="imagen-container">
        <img alt="Imagen del servicio" [src]="'http://127.0.0.1:8000/servicios/' + servicio.imagen" class="imagen" />
      </div>
      <div class="contenido-servicio">
        <p><strong>{{servicio.nombre}}</strong></p>
        <p>{{servicio.descripcion}}</p>
        <p>Precio: {{servicio.precio}}</p>
      </div>
    </div>
  </div>
</ion-content>